@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

#homepage {
  font-family: Oswald;
}

/* Navigation Bar */

#poisonous {
  height: 40px;
}

nav,
.logo,
.nav-links {
  display: flex;
  align-items: center;
  background-color: pink;
  font-family: Oswald;
}

.logo h1 {
  font-size: 50px;
}
nav {
  justify-content: space-around;
  height: 10vh;
  margin-bottom: 0.5in;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: black;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* Hamburger Nav */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon.open span:first-child {
  transform: none;
}

.hamburger-icon.open span:first-child {
  opacity: 1;
}

.hamburger-icon.open span:first-child {
  transform: none;
}

/* Homepage */

#homepage {
  margin-top: 1.25in;
  margin-bottom: 1.25in;
}

.left h3 {
  font-size: 50px;
}

.left h1 {
  font-size: 70px;
}

.left p {
  font-size: 40px;
}

#titopic {
  height: 400px;
  padding-left: 50px;
}

#iconss {
  height: 40px;
  cursor: pointer;
}

.outer {
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.buttons {
  padding: 10px 30px;
  font-family: Oswald;
}

.icon {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 90px;
}

.icon :hover {
  transition-duration: 0.4s;
}

#cv {
  background-color: white;
  border-style: double;
  border-radius: 10px;
  padding: 10px 10px;
  border-color: black;
  transition-duration: 0.4s;
  font-family: Oswald;
}

.buttons :hover {
  transition-duration: 0.4s;
  color: pink;
  background-color: pink;
  font-family: Oswald;
}

/* About */

#picture1 {
  height: 450px;
}

#picture2 {
  height: 350px;
}

#signs {
  height: 75px;
}

#about {
  margin-top: 1.25in;
  margin-bottom: 1.25in;
}

.outer2 {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.tots {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Oswald;
  font-size: 30px;
}

.about1right h1 {
  font-size: 50px;
  font-family: Unbounded;
}

/* Skills */

#iconsss {
  height: 150px;
}

#skills {
  margin-top: 1.25in;
  margin-bottom: 1.25in;
}

.skill {
  height: 750px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.skill h1 {
  font-size: 70px;
  margin-bottom: 0.25in;
}

.skillsection h1 {
  font-size: 25px;
}

#PLOL,
#ES,
#OS {
  display: flex;
  justify-content: center;
  gap: 0.25in;
  margin-top: 0.2in;
  margin-bottom: 0.2in;
}

/* Projects */

#projpic {
  height: 450px;
}

#projects {
  margin-top: 1.25in;
  margin-bottom: 1.25in;
}

.PROJECTS {
  height: 750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PROJECTS h1 {
  font-size: 50px;
  margin-top: 0.25in;
  margin-bottom: 0.25in;
}

.projectscontainer {
  display: flex;
  gap: 0.75in;
}

/* Experience */

#Experience {
  margin-top: 1.25in;
  margin-bottom: 1.25in;
}

.EXPCONTAINER {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.containerexp h1 {
  font-size: 50px;
  font-family: Oswald;
}

.experiencecontainer {
  display: flex;
  text-align: center;
  gap: 1.5in;
}

.expcont {
  border-style: solid;
  height: 200px;
  width: 300px;
  display: grid;
  align-items: center;
  border-radius: 20px;
  padding: 0px 10px;
}

.expcont h1 {
  font-size: 30px;
  font-family: Tourney;
}

.expcont h2 {
  font-size: 20px;
  font-family: unbounded;
}

.expcont h3 {
  font-size: 15px;
  font-family: unbounded;
}

/* Contact */

#gmail {
  height: 50px;
}

#contact {
  margin-top: 1.25in;
  margin-bottom: 1.25in;
}

.CONT {
  height: 500px;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: Oswald;
}

.CONT h1 {
  font-size: 80px;
}

.CONT p {
  font-size: 30px;
}
.emailcontact {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 10px;
  font-size: 20px;
  font-family: Oswald;
  display: flex;
  justify-content: center;
  background-color: pink;
}

.contactinfo {
  font-family: Oswald;
  font-size: 20px;
}

#textbox {
  padding: 10px;
}

#sub {
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
  padding: 10px 0px;
}

.emailcontact {
  padding-top: 10px;
}
